{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80
}
